flow.json
[
    {
        "id": "924d9dfe3158d446",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2843a0345a3d173b",
        "type": "inject",
        "z": "924d9dfe3158d446",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 340,
        "wires": [
            [
                "04599184797ad6c4"
            ]
        ]
    },
    {
        "id": "c5a5af8825671f2d",
        "type": "debug",
        "z": "924d9dfe3158d446",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 160,
        "wires": []
    },
    {
        "id": "04599184797ad6c4",
        "type": "function",
        "z": "924d9dfe3158d446",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 80,
        "wires": [
            [
                "c5a5af8825671f2d"
            ]
        ]
    }
]